@import "../../utilities/variable.scss";

.login {
  padding: 2em;
  background: #fff;
  > div {
    // background: $primary;
    min-height: 400px;
    padding: 1em;
    > :nth-child(1) {
      h1 {
        color: #212121;
        svg,
        path {
          color: red;
        }
      }
    }
    > :nth-child(2) {
      margin-top: 1em;
    }
  }
}
