.profileTile {
  background: #0288d1;
  margin: 1em;
  color: #fff;
  padding: 1em;
  box-shadow: 0 0 7px 1px #bdbdbd;
  border-radius: 8px;
  width: 150px;
  height: 130px;
  img {
    width: 100px;
    // display: ;
  }
  h1 {
    font-size: 70px;
    color: #fff;
    font-weight: 400;
  }
  p {
    font-size: 13px;
    color: #fff;
  }
  path {
    color: #fff;
  }
  > div {
    > div {
      margin: 5px 0;
    }
  }
  &.color-1 {
    background: #00bcd4;
  }
  &.color-3 {
    background: #0288d1;
  }
  &.color-5 {
    background: #303f9f;
  }
  &.color-7 {
    background: #f57c00;
  }
  &.color-8 {
    background: #ff5722;
  }
  &.color-9 {
    background: #d32f2f;
  }
}
