@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700");
@import url("flex.scss");
* {
  margin: 0;
  padding: 0;
}
*:not(i) {
  font-family: "Ubuntu", sans-serif;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.w-100 {
  width: 100%;
}
